gradio>=5.24.0
gradio-client==1.8.0
scipy
numpy
python-dotenv

requests
langchain_community
wikipedia
asteval

livekit-agents==1.2.2
livekit-plugins-cartesia==1.2.2
livekit-plugins-deepgram==1.2.2
livekit-plugins-google==1.2.2
livekit-plugins-silero==1.2.2
livekit-plugins-noise_cancellation==0.2.5
livekit-plugins-turn_detector==1.2.2